# Manage devtools and tasks with mise-en-place.
# https://mise.jdx.dev/configuration.html

min_version = "2025.12.0"

[tools]
actionlint = "1.7.9"
node = "20.19.6"
pnpm = "10.20.0"

[tasks.build]
depends = ["build_cli", "build_gha", "build_lib"]
description = "Runs `build_cli`, `build_gha`, and `build_lib`."
alias = ["b"]

[tasks.build_cli]
# language=sh
run = """
	vite build --outDir dist/cli/ --minify
"""
env = { MODULE = "cli" }
description = "Generates production-grade build artefacts of the command-line entrypoint with Vite."
alias = ["bc"]

[tasks.build_gha]
# language=sh
run = """
	vite build --outDir dist/gha/ --minify
"""
env = { MODULE = "gha" }
description = "Generates production-grade build artefacts of the GitHub Actions entrypoint with Vite."
alias = ["bg"]

[tasks.build_lib]
# language=sh
run = """
	vite build --outDir dist/lib/
"""
env = { MODULE = "lib" }
description = "Generates production-grade build artefacts of the core library with Vite."
alias = ["bl"]

[tasks.check]
depends = ["check_actions", "check_fmt", "check_ts"] # Skip the time-consuming `check_renovate` task.
description = "Runs `check_actions`, `check_fmt`, and `check_ts`."
alias = ["c"]

[tasks.check_actions]
# language=sh
run = """
	actionlint
"""
description = "Verifies the syntax of the GitHub Actions workflows with actionlint."
alias = ["ca"]

[tasks.check_fmt]
# language=sh
run = """
	biome check --error-on-warnings
"""
description = "Verifies the code style of the source code with Biome."
alias = ["cf"]

[tasks.check_renovate]
# language=sh
run = """
	pnpm dlx --package renovate renovate-config-validator
"""
description = "Verifies the syntax of the Renovate configuration."
alias = ["cr"]

[tasks.check_ts]
# language=sh
run = """
	tsgo
"""
description = "Verifies the type safety of the source code with TypeScript."
alias = ["ct"]

[tasks.fmt]
# language=sh
run = """
	biome check --skip-parse-errors --write
"""
description = "Reformats the source code with Biome."
alias = ["f"]

[tasks.init]
# language=sh
run = """
	pnpm install --ignore-scripts && \
	lefthook install
"""
description = "Installs Node.js packages with pnpm and enables the Git hooks with Lefthook."
alias = ["i"]

[tasks.test]
# language=sh
run = """
	vitest run
"""
env = { CI = 1 }
description = "Runs the entire unit test suite once with Vitest."
alias = ["t"]

[tasks.vitest]
# language=sh
run = """
	vitest watch \
		--ui \
		--api.port "$LOCALHOST_VITEST_PORT" \
		--open "$LOCALHOST_VITEST_OPENS_AUTOMATICALLY"
"""
env = { CI = 1 }
description = "Starts the Vitest UI test explorer for continuous unit testing."
alias = ["v"]

[tasks.yolo]
# language=sh
run = """
	lefthook uninstall
"""
description = "Disables the Git hooks with Lefthook."

[env]
# Load environment variables from the `.env` and `.env.local` files.
# https://mise.jdx.dev/environments/#env-file
_.file = [".env", ".env.local"]

# Make CLI programs in `node_modules` available directly in the command line.
# https://mise.jdx.dev/mise-cookbook/nodejs.html#add-node-modules-binaries-to-the-path
_.path = ["node_modules/.bin"]

# Grab the current Updraft version from the `version` field in `package.json`.
UPDRAFT_VERSION = { value = "{{ exec(command=\"jq --raw-output .version package.json\") }}" }

[settings]
task_output = "quiet"
